<div class="row">
     <div class="col">
          <div widget class="card">
               <div class="card-header">
                    <strong></strong>&nbsp;
                    <div class="widget-controls">
                         <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                         <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                         <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                         <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                         <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                    </div>
               </div>

               <div class="card-body widget-body" style="margin-top: -14px;">
                    <div class="row">
                         <div class="col-lg-12 col-12">
                              <div class="row">
                                   <div class="col-md-4">
                                        <label>{{'LABELS.BUSINESS_RULES' | translate}}:</label>
                                        <select class="form-control" [(ngModel)]="rules" (change)="changeRules()">
                                             <option *ngFor="let rules of options" [value]="rules.option">
                                                  {{rules.view}}
                                             </option>
                                        </select>
                                   </div>
                                   <div class="col-md-6"></div>
                                   <div class="col-md-2">
                                        <label for="refresh">&nbsp;</label>
                                        <br />
                                        <button type="submit" (click)="deployRules()" class="btn btn-primary btn-sm"
                                             style="float: right;">{{'BUTTONS.APPLY_RULES' | translate}}</button>
                                   </div>
                              </div>
                              <br>
                              <div class="row">
                                   <iframe *ngIf="businessRulesUrl" [src]="businessRulesUrl" style="width:100%; height:80vh;"></iframe>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>