<div class="row">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <a (click)="add()" style="cursor:pointer" title="{{ ('CRUD.ADD' | translate)}}" data-toggle="modal" data-target="#add_edit-modal"><i
            class="fa fa-plus"></i> <strong>{{ ('CRUD.ADD' | translate)}}</strong>&nbsp;{{'LABELS.USER'| translate}}</a>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>

      <div class="card-body widget-body">
        <div class="row">
          <div class="col-lg-12 col-12">

            <!--pageLimit and search datatable start-->
            <div class="input-group input-group-sm">
              <select name="ipp" id="ipp" class='form-control col-sm-4 col-md-2 col-lg-1' (change)="pageLimit(itemsPerPage.value)"
                [formControl]="itemsPerPage">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="30">30</option>
                <option [value]="40">40</option>
              </select>
              <div class=" col-sm-4 col-md-7 col-lg-7"></div>
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="search" class="form-control col-sm-4 col-md-4 col-lg-4" placeholder="{{ ('PLACE_HOLDERS.ENTER_USER_NAME' | translate)}}"
                (keyup)="updateFilter($event)" />
            </div>
            <!--pageLimit and search datatable end-->

            <!--tenant users datatable start-->
            <ngx-datatable #table class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [externalSorting]="true" [loadingIndicator]="loading" (sort)="onSort($event)"
              (activate)="onActivate($event)" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
              [limit]="page.size" (page)='setPage($event)' [sorts]="[{prop: 'userMail', dir: 'asc'}]">
              <ngx-datatable-column prop="userMail" name="{{'TABLE_HEADERS.USERNAME'| translate}}" [width]="250">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                  let-expanded="expanded">
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TABLE_HEADERS.NAME'| translate}}" prop="userName">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TABLE_HEADERS.ROLE'| translate}}" prop="userRole">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TABLE_HEADERS.STATUS'| translate}}" prop="userStatus">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column headerClass="text-center" cellClass="text-center" [sortable]="false" name="{{'TABLE_HEADERS.ACTION'| translate}}">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <button type="button" (click)="edit(row)" data-toggle="modal" data-target="#add_edit-modal" title="{{ ('CRUD.EDIT' | translate)}}"
                    class="btn btn-warning btn-circle"><i class="fa fa-edit" aria-hidden="true"></i></button>
                  <button type="button" (click)="delete(row)" data-toggle="modal" data-target="#delete-modal" title="{{ ('CRUD.DELETE' | translate)}}"
                    class="btn btn-danger btn-circle"><i class=" fa fa-trash-o" aria-hidden="true"></i></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!--tenant users datatable end-->
          </div>


          <!--add edit modal popup start-->
          <div class="modal fade" id="add_edit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
            data-backdrop="static" data-keyboard="true" style="z-index: 1051 !important;display: none;">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <form [formGroup]="tenantUserForm">
                  <div class="modal-header">
                    <h4 class="modal-title custom-font" id="modal-large-label"><strong>{{Add_or_Edit_User}}</strong>&nbsp;{{'LABELS.USER'|
                      translate}}</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="email" class="control-label required">{{'LABELS.USER_NAME'| translate}}:</label>
                        <input class="form-control checking-field" type="email" formControlName="email" [ngModel]="name"
                          [readonly]="isReadOnly" placeholder="{{ ('PLACE_HOLDERS.ENTER_VALID_EMAIL' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}"
                          (ngModelChange)="textChanged($event)">
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('email').touched && tenantUserForm.get('email').hasError('required')">{{'INFO.EMAIL_REQUIRED'|
                          translate}}</span>
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('email').touched && tenantUserForm.get('email').hasError('invalidEmail')">{{'INFO.VALID_EMAIL'|
                          translate}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" [checked]="isGenerateChecked" (click)="generateRandomPassword()">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">{{'CHECK_LIST.AUTO_GENERATE_PASSWORD'| translate}}</span>
                        </label>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" [checked]="isShowPasswordChecked" (click)="hideShowPassword()">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">{{'CHECK_LIST.SHOW_PASSWORD'| translate}}</span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="password" class="control-label {{(isPasswordMandatory === true)? 'required' : '' }}">{{'LABELS.PASSWORD'|
                          translate}}:</label>
                        <input class="form-control checking-field" type="password" #showhideinput formControlName="password"
                          placeholder="{{ ('PLACE_HOLDERS.ENTER_NEW_PASSWORD' | translate) + ' (' +  mandatory_or_optional+ ')' }}"
                          minlength="4">
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('password').touched && tenantUserForm.get('password').hasError('required')">{{'INFO.PASSWORD_REQUIRED'|
                          translate}}</span>
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('password').touched && tenantUserForm.get('password').hasError('minlength')">{{'INFO.PASSWORD_MIN_SHOULDBE_FOUR'|
                          translate}}</span>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="confirmPassword" class="control-label {{(isPasswordMandatory === true)? 'required' : '' }}">{{'LABELS.CONFIRM_PASSWORD'|
                          translate}}:</label>
                        <input class="form-control checking-field" type="password" #showconfirmhideinput
                          formControlName="confirmPassword" placeholder="{{ ('PLACE_HOLDERS.CONFIRM_NEW_PASSWORD' | translate) + ' (' +  mandatory_or_optional+ ')' }}">
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('confirmPassword').touched && tenantUserForm.get('confirmPassword').hasError('required')">{{'INFO.PASSWORD_REQUIRED'|
                          translate}}</span>
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('confirmPassword').touched && tenantUserForm.get('confirmPassword').hasError('mismatchedPasswords')">{{'INFO.PASSWORD_NOT_MATCH'|
                          translate}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="firstName" class="control-label required">{{'LABELS.FIRST_NAME'| translate}}:</label>
                        <input class="form-control checking-field" type="text" formControlName="firstName" placeholder="{{ ('PLACE_HOLDERS.ENTER_FIRST_NAME' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}">
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('firstName').touched && tenantUserForm.get('firstName').hasError('required')">{{'INFO.FIRST_NAME_REQUIRED'|
                          translate}}</span>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="lastName" class="control-label required">{{'LABELS.LAST_NAME'| translate}}:</label>
                        <input class="form-control checking-field" type="text" formControlName="lastName" placeholder="{{ ('PLACE_HOLDERS.ENTER_LAST_NAME' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}">
                        <span class="help-block text-danger" *ngIf="tenantUserForm.get('lastName').touched && tenantUserForm.get('lastName').hasError('required')">{{'INFO.LAST_NAME_REQUIRED'|
                          translate}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>{{'LABELS.ADDRESS'| translate}}:</label>
                        <input placeholder="{{'PLACE_HOLDERS.SEARCH_LOCATION'| translate}}" autocorrect="off"
                          autocapitalize="off" spellcheck="off" type="text" class="form-control" #search
                          formControlName="address">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="role" class="control-label required">{{'LABELS.ROLE'| translate}}:</label>
                        <select class="form-control" formControlName="role">
                          <option *ngFor="let tenant of tenantUserRoles" [value]="tenant.option">
                            {{tenant.view}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label>{{'LABELS.AVATAR'| translate}}:</label>
                        <br />
                        <div class="input-group file-upload">
                          <span class="input-group-addon"><img style="height: 20px;width: 20px;" [src]="userImage?userImage:'assets/img/user-icon.png'"></span>
                          <input type="file" formControlName="image" (change)="fileChange($event)" class="form-control file-upload-btn" />
                          <input type="text" class="form-control" placeholder="{{'PLACE_HOLDERS.UPLOAD_AVATAR'| translate}}"
                            value="{{file}}">
                          <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
                          <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-upload"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="status" class="control-label required">{{'LABELS.STATUS'| translate}}:</label>
                        <select class="form-control" formControlName="status">
                          <option value="Active">{{'LABELS.ACTIVE'| translate}}</option>
                          <option value="Suspended">{{'LABELS.SUSPENDED'| translate}}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label>{{'LABELS.PHONE'| translate}}: </label>
                        <international-phone-number [defaultCountry]="'us'" formControlName="phoneNumber"></international-phone-number>
                        <span *ngIf="tenantUserForm.get('phoneNumber').touched && !tenantUserForm.get('phoneNumber').valid"
                          class="help-block text-danger">{{'INFO.VALID_PHONE'| translate}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12" [hidden]="tenantUserForm.controls.password.value === ''">
                        <label>{{'LABELS.EMAIL_PASSWORD_TO'| translate}}: </label>
                        <input class="form-control checking-field" type="emailPasswordTo" formControlName="emailPasswordTo"
                          [ngModel]="name" placeholder="{{ ('PLACE_HOLDERS.ENTER_VALID_EMAIL' | translate) + ' ' +  ('PLACE_HOLDERS.OPTIONAL' | translate)}}">
                        <p class="help-block">
                          <span class="help-block text-danger" *ngIf="tenantUserForm.get('emailPasswordTo').touched && tenantUserForm.get('emailPasswordTo').hasError('required')">{{'INFO.EMAIL_REQUIRED'|
                            translate}}</span>
                          <span class="help-block text-danger" *ngIf="tenantUserForm.get('emailPasswordTo').touched && tenantUserForm.get('emailPasswordTo').hasError('invalidEmail')">{{'INFO.VALID_EMAIL'|
                            translate}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" (click)="onSubmit(tenantUserForm)" class="btn btn-success btn-sm" [disabled]="tenantUserForm.invalid"><i
                        class="fa fa-arrow-right"></i> {{Create_or_Update_User}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--add edit modal popup end-->

          <!--delete modal popup start-->
          <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
            data-backdrop="static" data-keyboard="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title custom-font" id="modal-label"><strong>{{'CRUD.DELETE'| translate}}</strong>&nbsp;{{'LABELS.USER'|
                    translate}}</h4>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                  <p class="text-danger"><strong>{{'USERS.WARNING.DELETE_USER'| translate}}</strong></p>
                  <span><strong>{{'LABELS.USER_NAME'| translate}}: </strong> {{userEmailToDelete}} </span><br>
                  <span><strong>{{'LABELS.NAME'| translate}}: </strong>{{ userName}}</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success btn-sm" (click)="deleteUser()"><i class="fa fa-arrow-right"></i>
                    {{ 'BUTTONS.DELETE' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
          <!--delete modal popup end-->
        </div>

      </div>
    </div>
  </div>
</div>