<!--delete edit modal popup start-->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title custom-font" id="modal-label"><strong>{{'CRUD.DELETE'| translate}}</strong>&nbsp;{{'LABELS.TENANT'| translate}}</h4>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <p class="text-danger"><strong>{{'TENANTS.WARNING.DELETE_TENANT'| translate}}</strong></p>
        <span><strong>{{'LABELS.NAME'| translate}}: </strong>{{tenantName}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-arrow-right"></i>  {{ 'BUTTONS.DELETE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!--delete edit modal popup end-->
