/**** Colors (recommended use HEX colors) ****/
$main-color: #465a66;
$default-color:#fff;
$dark-color: #262626;

$body-bg-gradient-color-1: #262626;
$body-bg-gradient-color-2: #7a91a0;

$sidebar-bg-color:#7a91a0;
$sidebar-item-active-bg-color: #f1673a;


$primary-color: #024a88;
$success-color: #2d922d;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;
