/* You can add global styles to this file, and also import other style files */
//@import url('http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
// @import '~primeng/resources/themes/omega/theme.css';
// @import '~primeng/resources/primeng.min.css';

@-webkit-keyframes spin-cubeGridScaleDelay {

  0%,
  100%,
  70% {
    -webkit-transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
  }
}

@-moz-keyframes spin-cubeGridScaleDelay {

  0%,
  100%,
  70% {
    -moz-transform: scale3D(1, 1, 1);
  }

  35% {
    -moz-transform: scale3D(0, 0, 1);
  }
}

@keyframes spin-cubeGridScaleDelay {

  0%,
  100%,
  70% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    transform: scale3D(0, 0, 1);
  }
}

.spin-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.spin-container {
  height: 100%;
  width: 100%;
  display: table;
}

.spin-inner {
  vertical-align: middle;
  height: 100%;
  display: table-cell;
}

.spin-cube-grid {
  width: 50px;
  height: 50px;
  margin: 0 auto;

  .spin-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
    -moz-animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  .spin-cube1 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .spin-cube2 {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .spin-cube3 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .spin-cube4 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .spin-cube5 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .spin-cube6 {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .spin-cube7 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
  }

  .spin-cube8 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .spin-cube9 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #ffffff;
  border-radius: 0;

  &:hover {
    background: #cccccc;
  }

  &:active {
    background: #888888;
  }
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0 none #ffffff;
  border-radius: 0;

  &:hover {
    background: #666666;
  }

  &:active {
    background: #333333;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.main-wrapper {
  padding: 15px 10px 60px !important;
}

.nav {
  margin-bottom: 20px !important;
  font-weight: bold !important;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

.nav-link {
  color: #465a66 !important;
  border-bottom: 2px solid #337ab7 !important;
  font-weight: bold !important;
}

.nav .nav-justified .nav-item {
  border-bottom: 2px solid #337ab7 !important;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-radius: 0 !important;
}

a {
  color: #337ab7;
  cursor: pointer;
}

.ngx-datatable .datatable-header {
  color: #465a66 !important;
  font-weight: bold !important;
  border-bottom: 1px thick #465a66 !important;
}

.ngx-datatable .datatable-footer {
  margin-top: -1px !important;
  font-weight: bold !important;
  color: #465a66 !important;
  background: #fff !important;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  font-weight: bold !important;
  color: #465a66;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  padding: 0 !important;
  color: #455a66;
  border-top: none !important;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  padding: 0.35rem !important;
  //  overflow: hidden !important;
  // text-overflow: ellipsis !important;
  // white-space: normal !important;
  // text-align: center !important;
  // vertical-align: middle !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #798992 !important;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  font-weight: bold !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: #465a66 !important;
}

.ngx-datatable.bootstrap .datatable-footer .page-count {
  font-weight: bold !important;
}

.datatable-header-cell .sortable {
  border-bottom: 2px solid #337ab7 !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  color: #000000 !important;
  font-weight: bold !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: #FFF !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-odd {
  background-color: #f2f2f2 !important;
}

.ngx-datatable .datatable-body-cell,
.ngx-datatable .datatable-header-cell {
  padding: 0.25rem !important;
}

/*button circle*/
.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
  background-color: green
}

/*search placeholder in italic*/
::-webkit-input-placeholder {
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

//inline-text for images and font

.inline-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.breadcrumb {
  margin-bottom: 15px !important;
}

.tab-content {
  border: none !important;
}

.tab-content .tab-pane {
  padding: 0 !important;
}

.card-body {
  padding: 0.75rem 1.25rem !important;
}

.strong {
  color: #798992 !important;
}

.pac-container {
  z-index: 1051 !important;
}

.file-upload {
  .file-upload-btn {
    position: absolute;
    width: 100%;
    height: 35px;
    z-index: 9;
    opacity: 0;
  }

  .delete-file {
    position: absolute;
    right: 50px;
    top: 8px;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 99;
    visibility: hidden;
  }

  &:hover .delete-file {
    visibility: visible;
  }
}

.card .card-header {
  color: #337ab7 !important;
  background: #fff !important;
  border-bottom: 1px solid #eaecef !important;
}

.card .card-header a {
  color: #337ab7 !important;
}

label {
  color: #50636e;
}

.btn {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background: rgba(2, 74, 136, 0.8);
  border-color: rgba(2, 74, 136, 0.8);
}

.loader-overlay {
  display: block;
  position: fixed;
  color: White;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3000001;
  opacity: 0.8;
}

.spinner {
  position: absolute;
  color: White;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  display: block;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
}

bs-datepicker-container,
bs-daterangepicker-container {
  z-index: 99999 !important;
}

.theme-green .bs-datepicker-head {
  background-color: #1976d2 !important;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after,
.theme-green .bs-datepicker-body table td.selected span {
  background-color: #1976d2 !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #1976d2 !important;
}

.bs-datepicker-head {
  height: 35px !important;
  padding: 1px !important;
}