<div class="container">
     <agm-map style="height:400px" [latitude]="lat" [longitude]="lng">
          <agm-direction [origin]="origin" [destination]="destination" [renderOptions]="renderOptions" [markerOptions]="markerOptions">
          </agm-direction>
     </agm-map>
</div>


<ng-template #customLoadingTemplate>
     <div class="loader-overlay">
          <div class="spinner">
               <div class="spin-outer" id="preloader">
                    <div class="spin-container">
                         <div class="spin-inner">
                              <div class="spin-cube-grid">
                                   <div class="spin-cube spin-cube1" style="background: url('assets/img/logo/cube-1.jpg');  background-size: cover;"></div>
                                   <div class="spin-cube spin-cube2" style="background: url('assets/img/logo/cube-2.jpg');  background-size: cover;"></div>
                                   <div class="spin-cube spin-cube3" style="background: url('assets/img/logo/cube-3.jpg');  background-size: cover;"></div>
                                   <div class="spin-cube spin-cube4" style="background: url('assets/img/logo/cube-4.jpg');  background-size: cover;"></div>
                                   <div class="spin-cube spin-cube5" style="background: url('assets/img/logo/cube-5.jpg'); background-size: cover;"></div>
                                   <div class="spin-cube spin-cube6" style="background: url('assets/img/logo/cube-6.jpg'); background-size: cover;"></div>
                                   <div class="spin-cube spin-cube7" style="background: url('assets/img/logo/cube-7.jpg'); background-size: cover;"></div>
                                   <div class="spin-cube spin-cube8" style="background: url('assets/img/logo/cube-8.jpg'); background-size: cover;"></div>
                                   <div class="spin-cube spin-cube9" style="background: url('assets/img/logo/cube-9.jpg'); background-size: cover;"></div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px',fullScreenBackdrop:true }" [template]="customLoadingTemplate"></ngx-loading>